#Folders to ignore
__pycache__

*.pyc
__pycache__

./dist
./build
./tests
./main.spec
./.vscode
front/views/__pycache__/dialogs.cpython-310.pyc
back/validation/__pycache__/validation.cpython-310.pyc
back/ML/__pycache__/neurofuzzy.cpython-310.pyc
back/ML/__pycache__/modelImplementation.cpython-310.pyc
back/ML/__pycache__/model.cpython-310.pyc
back/ML/test.py
back/data/__pycache__/contextData.cpython-310.pyc
back/controller/__pycache__/controller.cpython-310.pyc
back/__pycache__/respuestas.cpython-310.pyc
front/settings/__pycache__/settings.cpython-310.pyc
front/views/__pycache__/dialogs.cpython-310.pyc
front/settings/__pycache__/settings.cpython-310.pyc
back/validation/__pycache__/validation.cpython-310.pyc
